
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
body {
    background-color: #F6f0e1;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: medium;
}

h1 {
    color: #ff6e40;
    display: inline;
}

h2 {
    color: #ffc13b;
}

p {
    text-align: justify;
}

header, .content-box {
    background-color: #1e3d59;
    color: #F6f0e1;
    padding: 20px;
    margin: 20px;
    -moz-box-shadow: -5px -5px #ffc13b;
    -webkit-box-shadow: -5px -5px #ffc13b;
    box-shadow: -5px -5px #ffc13b;
    border-radius: 10px;
}

header {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
}
header .titles {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 2;
}
header .blurb {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    font-size-adjust:unset;
}

/* header h1, header h2 {} */

header .portrait {
    border-radius: 10%;
    opacity: 75%;
    padding: 10px;
    max-width: 304px;
    height: auto;
}

.links {
    overflow: visible;
    display: flex;
    flex-flow: row wrap;
}

.links h2 {
    margin-right: 10px;
}

.links a {
    color: #ff6e40;
    border: #F6f0e1;
    border-width: 1px;
    border-style: dashed;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    display: flex;
    flex-grow: 1;
    
}
.links a:hover{
    background-color:#F6f0e1;
}

.links img {
    height: 64px;
}

.moocs ul li {
    display: list-item;
}


.colorblock{
    display: flex;
    width:400px;
}
.box {
    float: left;
    height: 20px;
    width: 20px;
    margin-bottom: 15px;
    border: 1px solid #F6f0e1;
    padding-left: 50px;
    margin-right:50px;
    margin-left: 25px;
    clear: both;
  }
  
  .red-orange {
    background-color: #ff6e40;
  }
  
  .almond {
    background-color:#F6f0e1;
  }
  
  .navy {
    background-color:#1e3d59;
  }
  .yellow{
      background-color: #ffc13b;
  }
  